<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="com.song.Spring_legacy2.board.file.BoardFileVO" alias="BoardFileVO"/>
		<typeAlias type="com.song.Spring_legacy2.notice.NoticeVO" alias="NoticeVO"/>
		<typeAlias type="com.song.Spring_legacy2.qna.QnaVO" alias="QnaVO"/>
		<typeAlias type="com.song.Spring_legacy2.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.song.Spring_legacy2.member.memberFile.MemberFileVO" alias="MemberFileVO"/>
		<typeAlias type="com.song.Spring_legacy2.memo.MemoVO" alias="MemoVO"/>
		<typeAlias type="com.song.Spring_legacy2.util.Pager" alias="Pager"/>
	</typeAliases>
</configuration>