@charset "UTF-8";

.header {
	/* background-color:black; */
	width: 100%;
	height: 56px;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #FD7622;
}

.nav {
	width: 76%;
	height: 56px;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo_div {
	/* background-color: purple; */
	width: 260px;
	height: 56px;
	padding-top: 15px;
	padding-left: 24px;
	box-sizing: border-box;
}

.logo_div_a {
	color: #FFFFFF;
	text-decoration: none;
}

.navList_div {
	/* background-color: red; */
	width: 960px;
	height: 56px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navList_ul {
	/* width: 960px;
	height: 56px; */
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navList_ul_li {
	/* background-color: black; */
	height: 56px;
	padding-top: 17px;
	padding-left: 2px;
	box-sizing: border-box;
}

.navList_ul_li_bar {
	margin: 0px 10px;
}

.navList_ul_li_a {
	/* font-family: "Open Sans", "Noto Sans KR"; */
	font-weight: 800;
	font-size : medium;
	text-decoration: none;
	color: #FFFFFF;
}

.navList_ul_li_a:hover {
	text-decoration: underline;
}

.navList_ul_li_a2 {
	text-decoration: none;
	/* font-weight: 800;
	font-size : medium;
	color: #FFFFFF; */
}

.navList_ul_li_a2:hover {
	text-decoration: underline;
}