<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.song.Spring_legacy2.notice.NoticeDAO">
	
	<insert id="boardWrite" parameterType="com.song.Spring_legacy2.notice.NoticeVO">
		INSERT INTO notice VALUES(board_seq.nextval,#{title},#{writer},#{contents},sysdate,0)
	</insert>
	
	<insert id="boardUpdate" parameterType="com.song.Spring_legacy2.notice.NoticeVO">
		UPDATE notice SET title=#{title}, writer=#{writer}, contents=#{contents}, regdate=sysdate WHERE num = #{num}
	</insert>
	
	<insert id="hitUpdate" parameterType="com.song.Spring_legacy2.notice.NoticeVO">
		UPDATE notice SET hit = 1+(SELECT hit FROM notice WHERE num = #{num}) WHERE num = #{num}
	</insert>
	
	<insert id="boardDelete" parameterType="java.lang.Long">
		DELETE FROM notice WHERE num=#{num}
	</insert>
</mapper>