<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.song.Spring_legacy2.notice.NoticeDAO">
	
	<sql id="search">
		LIKE '%'||#{search}||'%'
	</sql>
	
	<resultMap type="NoticeVO" id="selectResult">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="contents" property="contents"/>
		<result column="regDate" property="regDate"/>
		<result column="hit" property="hit"/>
		
		<!-- 1대N 관계 -->
		<collection property="boardFileVOs" javaType="java.util.List" ofType="BoardFileVO">
			<id column="fileNum" property="fileNum"/>
			<result column="num" property="num"/>
			<result column="fileName" property="fileName"/>
			<result column="originName" property="originName"/>
			<result column="board" property="board"/>
		</collection>
	</resultMap>
	
	<select id="boardCount" parameterType="Pager" resultType="Long">
		SELECT COUNT(num) FROM notice
		<where>
			<if test="kind == 'bt'">
				title <include refid="search"></include>
			</if>
			<if test="kind == 'bw'">
				writer <include refid="search"></include>
			</if>
			<if test="kind == 'bc'">
				contents <include refid="search"></include>
			</if>
		</where>
	</select>
	
	<select id="boardList" parameterType="Pager" resultType="NoticeVO">
		SELECT * FROM
		(SELECT N.*, rownum R FROM
		(SELECT * FROM notice WHERE
		<choose>
			<when test="kind == 'bt'"> title </when>
			<when test="kind == 'bw'"> writer </when>			
			<otherwise>contents</otherwise>
		</choose>
		<include refid="search"></include> AND num >= 1 ORDER BY num DESC) N)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<select id="boardNum" resultType="Long">
		SELECT board_seq.nextval FROM dual 
	</select>
	
	<select id="boardSelect" parameterType="Long" resultMap="selectResult">
		SELECT N.*, B.*
		FROM notice N left join boardfile B
		ON (N.num = B.num)
		WHERE N.num = #{num} AND B.board = 1
	</select>
	
	<insert id="boardWrite" parameterType="NoticeVO">
		INSERT INTO notice VALUES(#{num},#{title},#{writer},#{contents},sysdate,0)
	</insert>
	
	<update id="boardUpdate" parameterType="NoticeVO">
		UPDATE notice SET title=#{title}, writer=#{writer}, contents=#{contents}, regdate=sysdate WHERE num = #{num}
	</update>
	
	<update id="hitUpdate" parameterType="NoticeVO">
		UPDATE notice SET hit = 1+(SELECT hit FROM notice WHERE num = #{num}) WHERE num = #{num}
	</update>
	
	<delete id="boardDelete" parameterType="Long">
		DELETE FROM notice WHERE num=#{num}
	</delete>
</mapper>